
@import url("vendor/fonts/fonts.css");

@import url("vendor/normalize.css");

/*************************
page
**************************/

.page {
 min-width: 320px;
 position: relative;
 background-color:  #2A2C2F;
 font-family: Inter, Arial, sans-serif;
}

/*************************
header
**************************/
.header {
 display: flex;
 width: 288px;
 min-height: 42px;
 align-items: flex-end;
 justify-content: space-between;
 margin: 0 auto;
 padding-top: 16px;
 padding-bottom: 48px;
}

@media screen and (min-width: 768px) {
.header {
   width: 720px;
   height: 52px;
}
} 

@media screen and (min-width: 1024px) {
.header {
   width: 928px;
   height: 52px;
}
} 

@media screen and (min-width: 1280px) {
.header {
   width: 1184px;
   height: 52px;
}
} 



/*************************
logo
**************************/

.logo {
 width: 142px;
 height: 42px;
}

@media screen and (min-width: 768px) {
.logo {
   width: 176px;
   height: 52px;
}
} 

/*************************
logo
**************************/
.lang {
   padding-bottom: 8px;
}


.lang-link {
 width: 22px;
 height: 20px;
 font-family: Inter;
 font-style: normal;
 font-weight: normal;
 font-size: 18px;
 line-height: 20px; 
 text-decoration-line: underline;
 color: #FFFFFF;
}

.lang-link_en {
  text-decoration-line: none;
  padding-left: 18px;
  padding-top: 30px;
  width: 22px;
  height: 20px;
}


@media screen and (min-width: 768px) {
.lang-link {
   font-size: 24px;
   line-height: 28px;
}
} 

/*************************
lead
**************************/

.lead {
  background-color:  #2A2C2F;
}

.lead__title {
 font-family: Inter;
 font-style: normal;
 font-weight: 900;
 font-size: 40px;
 line-height: 44px;
 color: #FFFFFF;
 text-align: center;
 margin: 0;
}

.lead__subtitle {
 font-family: Inter;
 font-style: normal;
 font-weight: normal;
 font-size: 16px;
 line-height: 20px;
 text-align: center;
 margin-top: 32px;  
 margin-bottom: 40px;  
 color: #FFFFFF;
}

.lead__group {
    display:flex;
    justify-content: center;
}

.lead__image-with-caption {
    max-width: 984px;
    width: 100%;
}

.lead__image {
    width: 100%;
    min-height: 200px; 
}

.lead__caption {
 align-self: flex-start;
 width: 158px;
 height: 14px;
 font-style: normal;
 font-weight: normal;
 font-size: 10px;
 line-height: 14px;
 letter-spacing: 0.15em;
 text-transform: uppercase;
 color: #FFFFFF;
 margin-left: 16px;
}

@media screen and (min-width: 1024px) {
    .lead__caption {
        margin-left: 0;
    }
} 

@media screen and (min-width: 768px) {
    .lead__title {
      font-size: 96px;
      line-height: 100px;
    }
} 


@media screen and (min-width: 1024px) {
    .lead__title {
      width: 720px;
      height: 200px;
      margin: auto;
    }
} 

@media screen and (min-width: 768px) {
    .lead__subtitle {
     font-size: 30px;
     line-height: 36px; 
     width: 640px;
     height: 72px;
     margin: auto;
     padding-top: 32px;
     margin-bottom: 40px;  
    }
}

@media screen and (min-width: 1024px)  {
    .lead__image-with-caption {
        width: 928px;
    }
}

@media screen and (min-width: 1280px)  {
    .lead__image-with-caption {
        width: 984px;
    }
}
 

/*************************
intro
**************************/

.intro {
 max-height: 754px;  
 width: 288px ;
 padding-left: 16px;
 margin-top: 64px;
}

.intro__title {
 font-style: normal;
 font-weight: 900;
 font-size: 32px;
 line-height: 35px;
 color: #FFFFFF;
 margin-bottom: 40px;
}

.intro__text {
 font-style: normal;
 font-weight: normal;
 font-size: 16px;
 line-height: 26px;
 color: #FFFFFF;
 margin-bottom: 34px;
}

.intro__list {
 font-style: normal;
 font-weight: bold;
 font-size: 12px;
 line-height: 18px;
 color: #FFFFFF;
 margin: 0;
}

.intro__list-container {
 margin-top: 0;
 margin-bottom: 64px;
}

.intro__list_number {
 font-weight: normal; 
}

@media screen and (min-width: 768px) {
    .intro {
        width: 720px;
        padding-left: 24px;
        margin-left: 0;
    }
}

@media screen and (min-width: 1024px) {
    .intro {
        width: 690px;
        padding-left: 48px;
        margin-left: 0;
    }
}

@media screen and (min-width: 1280px) {
    .intro {
        width: 690px;
        padding-left: 148px;
        margin-left: 0;
    }
}

/*************************
photo-grid
**************************/

.photo-grid {
  display: grid;
  gap: 12px;
  justify-items: center;
  margin-bottom: 64px;
}

@media screen and (min-width: 768px) {
    .photo-grid {
    grid-template-rows: repeat(6, 264px);
    grid-template-columns: repeat(2, 352px);
    gap: 16px;
    justify-content: center;
    align-content: center;
    }

    .photo-grid__item {
        width: 352px;
        height: 264px;
    }
}

@media screen and (min-width: 1024px) {
    .photo-grid {
    grid-template-rows: repeat(4, 225px);
    grid-template-columns: repeat(3, 300px);
    gap: 24px;
    justify-content: center;
    align-content: center;
    }

    .photo-grid__item {
        width: 300px;
        height: 225px;
    }
}

@media screen and (min-width: 1280px) {
    .photo-grid {
    grid-template-rows: repeat(3, 213px);
    grid-template-columns: repeat(4, 284px);
    gap: 16px;
    justify-content: center;
    align-content: center;
    }

    .photo-grid__item {
        width: 284px;
        height: 213px;
    }
}

/*************************
  place
**************************/

.place {
 display: grid;
 justify-items: center;
 gap: 32px;
 grid-template-columns: 1fr;
 margin-bottom: 50px;
}

.place__title {
 font-style: normal;
 font-weight: 900;
 font-size: 32px;
 line-height: 35px;
 color: #FFFFFF;
 width: 288px;
 height: 35px;
 margin: 0;
}

.place__url {
 font-style: normal;
 font-weight: normal;
 font-size: 12px;
 line-height: 12px;
 letter-spacing: 0.2em;
 color: #AAAAAA;
 width: 288px;
 height: 12px;
 margin: 0;
 padding-bottom: 12px;
}

.place__link {
 font-style: normal;
 font-weight: normal;
 font-size: 18px;
 line-height: 22px;
 color: #FFFFFF;
 transition: opacity 2s;
}

.place__link:hover {
 opacity: 0.5;
}

.place__discription {
    width: 288px;
}

.place__discription_paragraph {
 font-style: normal;
 font-weight: normal;
 font-size: 16px;
 line-height: 163%;
 color: #FFFFFF;
 margin: 0;
}

.place__discription_paragraph-two {
    margin-top: 25px;
}

/*************************
cover
**************************/

.cover__item {
    display: flex;
    flex-direction: column;
    background-image: url("images/__background.png");
    width: 320px;
    height: 200px;
    box-sizing: border-box;
    transition: opacity 2s;
    z-index: 0;
    position: relative;
    z-index: 1;
    }

    .cover__item:before {
        content: "";
        background: black;
        opacity: 0.3;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        transition: 0.3s;
    }

    .cover__item:hover:before {
        opacity: 0.8;
    }
   

.cover__title {
 font-style: normal;
 font-weight: 900;
 font-size: 32px;
 line-height: 35px;
 text-align: center;
 color: #FFFFFF;
 margin: 33px auto 16px auto;
}

.cover__subtitle {
 font-style: normal;
 font-weight: normal;
 font-size: 14px;
 line-height: 16px;
 text-align: center;
 color: #FFFFFF;
 margin: 0 auto 33px auto;
}

.cover__title-link {
   text-decoration: none;
}

/*************************
footer
**************************/

.footer {
 height: 310px;
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
 margin-top: 64px;
 padding-left: 16px;
}

.footer__link {
 font-style: normal;
 font-weight: normal;
 font-size: 24px;
 line-height: 24px;
 color: #FFFFFF; 
 text-decoration: none;
 margin: 0;
}

.footer__links {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 height: 234px;
}

.footer__copyright {
 font-style: normal;
 font-weight: normal;
 font-size: 14px;
 line-height: 14px;
 color: #FFFFFF;
 margin: 0;
 padding-top: 48px;
 padding-bottom: 24px;
}