.lang__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
  color: #FFFFFF;
  padding-top: 30px;
  transition: opacity 2s;
}

.lang__link:hover {
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .lang__link {
    font-size: 24px;
    line-height: 28px;
  }
}