.lang__link {
  width: 22px;
  height: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .lang__link {
    font-size: 24px;
    line-height: 28px;
  }
}