@import url("../intro/__title/intro__title.css");
@import url("../intro/__text/intro__text.css");
@import url("../intro/__list/intro__list.css");
@import url("../intro/__list-container/intro__list-container.css");
.intro {
  max-height: 754px;
  max-width: 690px;
  padding: 64px 16px 0;
}

@media screen and (min-width: 768px) {
  .intro {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .intro {
    padding-left: calc((100% - 928px) / 2);
  }
}

@media screen and (min-width: 1280px) {
  .intro {
    padding-left: calc((100% - 984px) / 2);
  }
}