@import url("../cover/__item/cover__item.css");
@import url("../cover/__title/cover__title.css");
@import url("../cover/__subtitle/cover__subtitle.css");
@import url("../cover/__title-link/cover__title-link.css");
.cover {
  background-image: url("../../images/__background.png");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  min-width: 300px;
  width: 100%;
  box-sizing: border-box;
  transition: opacity 2s;
  position: relative;
  margin: auto;
  padding: 0 16px;
  z-index: 1;
}

.cover:before {
  content: "";
  background: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transition: 0.3s;
}

.cover:hover:before {
  opacity: 0.8;
}

@media screen and (min-width: 425px) {
  .cover {
    min-height: 300px;
  }
}

@media screen and (min-width: 768px) {
  .cover {
    padding: 0;
    min-height: 480px;
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    min-height: 640px;
  }
}

@media screen and (min-width: 1280px) {
  .cover {
    min-height: 740px;
    max-width: 1184px;
  }
}