.lead__caption {
  align-self: flex-start;
  width: 158px;
  height: 14px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 16px;
}

@media screen and (min-width: 1024px) {
  .lead__caption {
    margin-left: 0;
  }
}