.place__url {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  color: #AAAAAA;
  margin: 0;
  padding: 0 16px 12px;
}

@media screen and (min-width: 768px) {
  .place__url {
    padding-left: 0;
  }
}